#MYSQL_VERSION=9
#MYSQL_PORT=8001
MYSQL_PASSWORD=yourStrongPasswordHere

#PHPMYADMIN_PORT=8002

#VALKEY_VERSION=9
#VALKEY_PORT=8003
VALKEY_PASSWORD=myStrongAlphaNumericPasswordHere

#VALKEY_ADMIN_PORT=8004
